*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: rgb(97, 97, 97);
}
li{
    list-style: none;
}
.btns{
    font-size: 1.1rem;
    padding: 10px 20px;
    margin-right: 6px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #323232;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btns:hover{
    background-color: #9d00ff; 
    color: #fff; 
    transform: scale(1.05);
}